{% extends "base.html" %}

{% block page_content %}
<div class="form-container">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <h2>Redefinir sua Senha</h2>
    
    <form method="POST" action="{{ url_for('reset_with_token', token=token) }}">
        <div class="form-group">
            <label for="password">Nova Senha</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="password2">Confirme a Nova Senha</label>
            <input type="password" id="password2" name="password2" required>
        </div>
        <button type="submit" class="btn">Redefinir Senha</button>
    </form>
</div>
{% endblock %}